mixin RecognitionIntro
  p.dropcap Freya Inc. is vastly recognized worldwide for it's stunning designs and creations. We are a team consisting of specialized persons in comprehensive interior detailing and space planning . Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla.

  p To schedule a consultation program with our design team. 
    a.text-info(href=`${CWD}contact/contact1.html`) Continue reading 
      span.d-inline-block &xrarr;