extends LayoutTheme
include ../mixins/common/PreFooter
include ../mixins/common/Footer
include ../mixins/navbar/Navbar
include ../mixins/common/PageHeader
include ../mixins/Common/Banner

append variables 
  - var pageHeaderConfig = {}

prepend styles
  link(href=`${CWD}vendors/prism/prism.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/prism/prism.js`)

block beforeMainContent
  +Navbar
  +PageHeader(pageHeaderConfig)

block afterMainContent
  +PreFooter
  +Footer
