mixin AboutIntro 
  +Section.text-center 
    .row.justify-content-center
      .col-lg-10
        h3.mb-4 With a view to become the most promising architectural and interior design farm out there, Freya Inc. was founded by renowned architect Frays Mayer in 1967.
      .col-lg-6
        p Today, Freya has achieved its initial goal and created a position of its own. Fusce dapibus, tellus ac cursus commodo, ut fermentum massa. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit.
